@model StateOfTravel.ViewModels.RegistrationViewModel
@*@{
        ViewData[PagesViewDataConstants.TitleViewData] = @Localizer[nameof(AccountResources.CreateAccount)];
        ViewData[PagesViewDataConstants.HomepageURLViewData] = Model.ClientUrl;

        var textFieldMaxLength = Linkdev.Framework.SharedKernal.Constants.FormValidationConstants.TextFieldMaximumSize;
    }*@

<div class="registration-form">
    <h1 class="form_main-title">New Account</h1>

    <form asp-action="Index" asp-controller="Account" method="post">

        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="ClientUrl" />

        @*two input fields per row*@
        <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="First Name" maxlength="50" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Last Name" maxlength="50" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        @*one input field per row*@
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input id="emailValidation" asp-for="Email" placeholder="Email Address" type="text" class="form-control" maxlength="50" />
            <div class="flex">
                <span asp-validation-for="Email" class="text-danger">
                </span>
                @if (!string.IsNullOrEmpty(Model.DublicatedEmailErrorMessage))
                {
                    @Html.Raw(Model.DublicatedEmailErrorMessage)
                }
            </div>
        </div>
        @*password field*@
        <div class="form-group password-validator-box">
            <label asp-for="Password" class="control-label"></label>
            <span class="toggle-pw-icon icon-visibility"></span>
            <input id="password" asp-for="Password" type="password" placeholder="Password" class="form-control enter-pw fancy-pw" maxlength="15" />
            <span asp-validation-for="Password" class="text-danger"></span>
         </div>


        <div class="form-group">
            <input type="submit" value="Create Account" class="btn form-btn primary-btn" />
        </div>
    </form>


    <div class="form-txt-link">
       Already Have an account <a class="primary_link" title="Login" asp-controller="Account" asp-action="@nameof(AccountController.Login)" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
    </div>
</div>

<!--@section Scripts {-->
    @*<script src="~/js/customValidationAttribute.js"></script>*@
    <!--<script src="~/js/recaptcha-token-validator.js"></script>
}-->